In [1]:
import pandas as pd

In [2]:
df_comuni = pd.read_csv('listacomuni.txt', encoding="latin-1", sep=";", keep_default_na=False)
df_comuni

,Istat,Comune,Provincia,Regione,Prefisso,CAP,CodFisco,Abitanti,Link
0,28001,Abano Terme,PD,VEN,49,35031,A001,19726,http://www.comuni-italiani.it/028/001/
1,98001,Abbadia Cerreto,LO,LOM,371,26834,A004,293,http://www.comuni-italiani.it/098/001/
2,97001,Abbadia Lariana,LC,LOM,341,23821,A005,3305,http://www.comuni-italiani.it/097/001/
3,52001,Abbadia San Salvatore,SI,TOS,577,53021,A006,6722,http://www.comuni-italiani.it/052/001/
4,95001,Abbasanta,OR,SAR,785,09071,A007,2872,http://www.comuni-italiani.it/095/001/
...,...,...,...,...,...,...,...,...,...
8087,30136,Zuglio,UD,FVG,433,33020,M200,607,http://www.comuni-italiani.it/030/136/
8088,96083,Zumaglia,BI,PIE,15,13848,M201,1152,http://www.comuni-italiani.it/096/083/
8089,78155,Zumpano,CS,CAL,984,87040,M202,2413,http://www.comuni-italiani.it/078/155/
8090,64120,Zungoli,AV,CAM,825,83030,M203,1232,http://www.comuni-italiani.it/064/120/
8091,102050,Zungri,VV,CAL,963,89867,M204,2055,http://www.comuni-italiani.it/102/050/

In [24]:
df_codice_fiscale = pd.read_excel("codici_fiscali_770_2021.xlsx")
df_codice_fiscale

              tax_code
0     BAUDNL83E27C743A
1     BBAGPP74C08B791U
2     BBNCLD84H02F839T
3     BBNMRA64E67F839K
4     BBTGLC90C30A662F
...                ...
3454  ZZIMSM64A28Z315I
3455  ZZISMN70B06E958P
3456  ZZISVT72E03G813A
3457  ZZLLSN86L01D938H
3458  ZZRFNC01R25A341P

[3459 rows x 1 columns]

In [25]:
df_codice_fiscale["CodFisco"] = df_codice_fiscale["tax_code"].str[-5:-1]
df_codice_fiscale

              tax_code CodFisco
0     BAUDNL83E27C743A     C743
1     BBAGPP74C08B791U     B791
2     BBNCLD84H02F839T     F839
3     BBNMRA64E67F839K     F839
4     BBTGLC90C30A662F     A662
...                ...      ...
3454  ZZIMSM64A28Z315I     Z315
3455  ZZISMN70B06E958P     E958
3456  ZZISVT72E03G813A     G813
3457  ZZLLSN86L01D938H     D938
3458  ZZRFNC01R25A341P     A341

[3459 rows x 2 columns]

In [36]:
df = pd.merge(df_codice_fiscale, df_comuni, how = "left", on = ["CodFisco"])
df

,tax_code,CodFisco,Istat,Comune,Provincia,Regione,Prefisso,CAP,Abitanti,Link
0,BAUDNL83E27C743A,C743,28032.0,Cittadella,PD,VEN,49.0,35013,19970.0,http://www.comuni-italiani.it/028/032/
1,BBAGPP74C08B791U,B791,1059.0,Carmagnola,TO,PIE,11.0,10022,28653.0,http://www.comuni-italiani.it/001/059/
2,BBNCLD84H02F839T,F839,63049.0,Napoli,NA,CAM,81.0,801xx,959574.0,http://www.comuni-italiani.it/063/049/
3,BBNMRA64E67F839K,F839,63049.0,Napoli,NA,CAM,81.0,801xx,959574.0,http://www.comuni-italiani.it/063/049/
4,BBTGLC90C30A662F,A662,72006.0,Bari,BA,PUG,80.0,701xx,320475.0,http://www.comuni-italiani.it/072/006/
...,...,...,...,...,...,...,...,...,...,...
3454,ZZIMSM64A28Z315I,Z315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3455,ZZISMN70B06E958P,E958,58057.0,Marino,RM,LAZ,6.0,00047,39976.0,http://www.comuni-italiani.it/058/057/
3456,ZZISVT72E03G813A,G813,63058.0,Pompei,NA,CAM,81.0,80045,25620.0,http://www.comuni-italiani.it/063/058/
3457,ZZLLSN86L01D938H,D938,2061.0,Gattinara,VC,PIE,163.0,13045,8340.0,http://www.comuni-italiani.it/002/061/
3458,ZZRFNC01R25A341P,A341,59001.0,Aprilia,LT,LAZ,6.0,04011,70349.0,http://www.comuni-italiani.it/059/001/

In [37]:
df = df[["tax_code", "Comune", "Provincia"]]
df

              tax_code      Comune Provincia
0     BAUDNL83E27C743A  Cittadella        PD
1     BBAGPP74C08B791U  Carmagnola        TO
2     BBNCLD84H02F839T      Napoli        NA
3     BBNMRA64E67F839K      Napoli        NA
4     BBTGLC90C30A662F        Bari        BA
...                ...         ...       ...
3454  ZZIMSM64A28Z315I         NaN       NaN
3455  ZZISMN70B06E958P      Marino        RM
3456  ZZISVT72E03G813A      Pompei        NA
3457  ZZLLSN86L01D938H   Gattinara        VC
3458  ZZRFNC01R25A341P     Aprilia        LT

[3459 rows x 3 columns]

In [40]:
df["Comune"].fillna("Estero", inplace = True)
df["Provincia"].fillna("EE", inplace = True)

/var/folders/dg/wdxntbqd1yxfz6r00lfm9ldc0000gp/T/ipykernel_13200/2621301129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Comune"].fillna("Estero", inplace = True)
/var/folders/dg/wdxntbqd1yxfz6r00lfm9ldc0000gp/T/ipykernel_13200/2621301129.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Provincia"].fillna("EE", inplace = True)

In [41]:
df

              tax_code      Comune Provincia
0     BAUDNL83E27C743A  Cittadella        PD
1     BBAGPP74C08B791U  Carmagnola        TO
2     BBNCLD84H02F839T      Napoli        NA
3     BBNMRA64E67F839K      Napoli        NA
4     BBTGLC90C30A662F        Bari        BA
...                ...         ...       ...
3454  ZZIMSM64A28Z315I      Estero        EE
3455  ZZISMN70B06E958P      Marino        RM
3456  ZZISVT72E03G813A      Pompei        NA
3457  ZZLLSN86L01D938H   Gattinara        VC
3458  ZZRFNC01R25A341P     Aprilia        LT

[3459 rows x 3 columns]

In [44]:
df.to_excel("COD AGGIORNATO.xlsx", index = False)
df.to_csv("COD AGGIORNATO.csv")